.op-page {
  max-width: 800px;
  margin: 20px auto;
  
  .btn-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .selected-opportunities-btn {
      margin-bottom: 5px;
    }  
  }

  .filter-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .sort, .field, .city {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    select {
      flex: 1;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }

  .searchb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5px;

    .input-search {
      width: 100%;
      border: none;
      background-color: white;
      padding: 5px 0;
      outline: none;
      font-size: 16px;
    }

    .icon-search {
      font-size: 25px;
      color: gray;
      margin-right: 10px;
    }
  }
  .recommended-title {
    box-shadow: 0 0 10px green;
    h2 {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;
      text-align: center;
      color: green;
    }
  }
  .other-title {
    box-shadow: 0 0 10px black;
    h2 {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;
      text-align: center;
      color: black;
    }
  }
  .link-card {
    text-decoration: none;
    color: black;
    background-color: red;

    .item-op {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #f0f0f0;
      border-radius: 10px;
      padding: 5px 10px;

      .sh {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;  
        .dl-opp {
          p {
            font-style: italic;
          }
        }
      }
      .dl-reco {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        p {
          color: green;
          background-color: #f0f0f0;
          font-size: 20px;
        }
      }

      &:hover {
        background-color: rgb(185, 185, 185);
      }
      
    }
  }
  .no-match {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    color: gray;
    font-style: italic;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25%;
  }
}