footer {
    width: 100%;
    height: 30px;
    bottom: 0;
    text-align: center;
  
    &.light {
      background-color: white;
      color: black;
    }
  
    &.dark {
      background-color: #24292f;
      color: white;
  
      p {
        color: white;
      }
    }
  
    p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
  