.in-header {
    display: flex;
    height: 50px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    padding: 5px 0;
    margin: 0 auto;
    &.light {
        background-color: white;
        color: black;
      }
    &.dark {
      background-color: #24292f;
        color: white;
        .btn-menu {
            color: white;
        }
        .notification {
          color: white;
        }
      }
    .btn-menu {
        display: inline-block;
        color: black;
        cursor: pointer;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        &:hover {
          color: gray;
        }
        &.light {
          color: black;
        }
        &.dark {
          color: white;
        }
  }
  .notification {
    display: inline-block;
    color: black;
    cursor: pointer;
    font-size: 20px;
        &:hover {
          color: gray;
        }        

  }
  .notification-count {
    position: absolute;
    top: 5px;
    right: 3%;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    }

  .dropdown-menumenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid gray;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100%;

    .dropdown-itemmenu {
      padding: 10px;
      cursor: pointer;
      color: black;    
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  .dropdown-notification {
    position: absolute;
    top: 100%;
    right: 5px;
    background-color: white;
    border: 1px solid gray;
    z-index: 40;
    display: flex;
    flex-direction: column;
    width: 420px;
    max-height: 300px;
    overflow-y: auto;
    .no-notifications {
      height: 40px;
      text-align: center;
      p {
        font-weight: bold;
      }
    }

    .notification-item {
      padding: 5px 10px;
      cursor: pointer;
      color: black;   
      position: relative;
      border: 1px solid #ccc;
      h4 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
      }
      small {
        font-size: 12px;
        border-color: #2c2c2c;
      }

      &.not-opened:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: blue;
        border-radius: 50%;
      } 
      &:hover {
        background-color: #f0f0f0;
      }
    }
    .notification-item.unread {
      background-color: #f0f0f0;
      font-weight: bold;
    }
    .notification-item.not-opened h4,
    .notification-item.not-opened p,
    .notification-item.not-opened small {
      font-weight: bold;
    }
  }
  }