.cmp-page {
  margin: 20px auto;
  .searchb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5px;

    .input-search {
      width: 100%;
      border: none;
      background-color: white;
      padding: 5px 0;
      outline: none;
      font-size: 16px;
    }

    .icon-search {
      font-size: 25px;
      color: gray;
      margin-right: 10px;
    }
  }
  .link-card {
    text-decoration: none;
    color: black;
    .img-card {
      width: 100%
    }
    .title-card {
      font-weight: bolder;
    }
    .city-card {
      font-style: italic
    }
    &:hover {
      opacity: 0.8;
    }
  }

}